---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dop-mailoperations1
  labels:
    app: web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: front-end
          image: nginx
          ports:
            - containerPort: 80
        - name: rss-reader
          image: ceptravi/dop_mailoperations:latest
          ports:
            - containerPort: 88